
<div mat-dialog-title class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Create Proposal</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    
</div>

<form [formGroup]="service.form" class="normal">
            <div mat-dialog-content class="controles">
                <input type="hidden" formControlName="$key" [(ngModel)]=data.id>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput placeholder="Title" >
                    <mat-error *ngIf="this.service.form.controls['title'].errors?.required">This field is Mandatory</mat-error>
                    <mat-error *ngIf="this.service.form.controls['title'].errors?.minlength">Minimum 5 characters needed</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="field" >
                    <mat-label>Proposal</mat-label>
                    <textarea style="height: 70px;line-height: 16px;" formControlName="Proposal" matInput placeholder="Proposal" > </textarea>
                    <mat-error *ngIf="service.form.controls['Proposal'].errors?.required">This field is Mandatory</mat-error>
                    <mat-error *ngIf="service.form.controls['Proposal'].errors?.minlength">Maximum 300 characters</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="field">
                    <mat-select formControlName="team" matInput placeholder="Team" >
                        <mat-option *ngFor="let team of data.teams" value="{{team.id}}">{{team.value}}</mat-option>  
                    </mat-select>
                </mat-form-field>
            </div>
    <div mat-dialog-action align=end>
       <button mat-raised-button [mat-dialog-close]="this.service.form.value" color="primary" type="submit" [disabled]= "service.form.invalid || service.form.controls['title'].pristine || service.form.controls['Proposal'].pristine " (click)=onSubmit()>submit</button>
       <button mat-raised-button [mat-dialog-close] color="danger" (click)=onClear()>clear</button>
    </div>
</form>
