
<div class="view">
  <hr>
<div class="mat-typography">
    <h2 class="alert-heading">Filter Your Feed</h2>
    
   
  </div>

  <input type="date" #startDate >  
  Start Date 
  <br><br>
  <input type="date" #endDate >
  End Date 
  <br><br>
  <button mat-raised-button color="primary" (click)="processFilter(startDate.value,endDate.value)"  >Filter Feed</button>

  <hr>
  <mat-form-field style="width: 100%;">
    <mat-label for="selection">Select posts</mat-label>
    <mat-select name = "selection" (change)="selectionChanged(selection.value)" #selection>
      <mat-option value="yourPost">Your Post</mat-option>
      <mat-option value="teamPost" selected>Team Post</mat-option>
      <mat-option value="allPost">All Post</mat-option>
    </mat-select>
</mat-form-field>

</div> 
  
