<div style="padding-left: 1%;padding-right: 1%;">
    <mat-expansion-panel class="post" hideToggle>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="userBlock">
                {{post.user.name}}
            </mat-panel-title>
            <mat-panel-description class="title">
                {{post.title}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="text">{{post.description}}</div>
    </mat-expansion-panel>
    <section>
        <button mat-icon-button [class.text-danger]="this.hasLiked" class="likeButton" (click)="postLike(post.id)">
            <mat-icon>favorite</mat-icon>
        </button><p style="display:inline">{{this.numberLikes}} people upvoted this</p>
        <button [class.d-none]="!this.canUpdate" mat-raised-button style="float:right" color="primary" (click)="openDialog(post.id)">Update</button>
    </section>
    <form >
        <mat-form-field class="commentBoxLength">
            <mat-label>Comment</mat-label>
            <input type="text" matInput name="comment" [(ngModel)]="new_comment" >
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" style="height:35px" (click)="postComment(post.id)">Comment</button>
    </form>
    <div style="margin:2px auto; border-top: 1px lightgray solid;padding-top: 1%;">{{this.commentsMessage}}</div>
    <div class="commentText row" [class.d-none]="this.commentVisibility" >
        <div class="col-md-1"> {{this.singleComment.userId}} </div>
        <div class="col-md-11">
            {{this.singleComment.text}}
        </div>
    </div>
    <div (click)="this.commentVisibility=true" [class.d-none]="this.commentVisibility" style="cursor: pointer; color:rgb(68, 165, 255)">See more</div>
    <div class="commentText row" *ngFor="let comment of this.comments" [class.d-none]="!this.commentVisibility" >
        <div class="col-md-1">UserId</div>
        <div class="col-md-11">{{comment}}</div>
    </div>
</div>
