<!-- <div class="row post" [class.hidden]="!this.show" [class.show]="this.show" (click)="seeMore()">    
    <div class="col-md-1 userBlock">
        {{post.userId}}
    </div>
    <div class="col-md-11 text">
        <div class="title">Title</div>
        <mat-divider></mat-divider>
        <div>{{post.text}}</div>
    </div>
</div> -->
<mat-expansion-panel class="post" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.userId}}
        </mat-panel-title>
        <mat-panel-description class="title">
            Title
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div>{{post.text}}</div>
</mat-expansion-panel>
<section>
    <button mat-icon-button [class.text-primary]="this.hasLiked" class="likeButton" (click)="postLike(post.id)">
        <mat-icon>favorite</mat-icon>
    </button><p style="display:inline">{{this.numberLikes}} people upvoted this</p>
    <button [class.d-none]="!this.canUpdate" mat-stroked-button style="float:right" color="primary" (click)="openDialog(post.id)">Update</button>
</section>
<form >
    <mat-form-field class="commentBoxLength">
        <mat-label>Comment</mat-label>
        <input type="text" matInput name="comment" [(ngModel)]="new_comment" >
    </mat-form-field>
    <button type="submit" mat-stroked-button color="primary" style="height:35px" (click)="postComment(post.id)">Comment</button>
</form>
<hr>
<p>Comments</p>
<div class="commentText row" [class.d-none]="this.commentVisibility" >
    <div class="col-md-1">UserId</div>
    <div class="col-md-11">
        {{this.comments[0]}}
        <div (click)="this.commentVisibility=true" style="cursor: pointer; color:rgb(68, 165, 255)">See more</div>
    </div>
</div>
<div class="commentText row" *ngFor="let comment of this.comments" [class.d-none]="!this.commentVisibility" >
    <div class="col-md-1">UserId</div>
    <div class="col-md-11">{{comment}}</div>
    <mat-divider></mat-divider>
</div>

